.terminal-pane .xterm .xterm-viewport {
  overflow: hidden;
}

.terminal-pane .xterm.has-scrollback .xterm-scrollable-element > .xterm-scrollbar.xterm-vertical {
  opacity: 1;
  pointer-events: auto;
  transition: none;
}
